<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes</h1>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Recipe List</div>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>Recipe Id</th>
            <th>Recipe Description</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="recipe: ${recipes}">
            <td th:text="${recipe.id}">RecipeId</td>
            <td th:text="${recipe.description}">Recipe Description</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>